<h1>Password Generator</h1>
<div>
  <label>Enter Length</label>
  <input type="text" />
  <div>
    <div>
      <input type="checkbox">
      <label for="">Use small letters</label>
    </div>
    <div>
      <input type="checkbox">
      <label for="">Use numbers</label>
    </div>
    <div>
      <input type="checkbox">
      <label for="">Use symbols</label>
    </div>
    <div>
      <button (click)="onButtonClick()">Generate</button>
    </div>
    <div>
      <label for="">Password</label>
      <input type="text" [value]="password">
    </div>
